<link rel="stylesheet" type="text/css" href="/css/styla.css" />

<% include ./navy %>
<div class="s-layout">

        
        <!-- Content -->

<main class="s-layout__content">     
<div class="section-form">
  <% include ./partials/messages %>
                              
  <% if ( success_messages !='' ) { %>
    <div class="alert alert-success" >
        <strong><%= success_messages %> </strong>
    </div>
    <% } %>

        <form  action="/add_product" method="post">
          <div class="intro"> 
            <h1>Add Your Products</h1>
          </div>
          <input type="text" value="" placeholder="Product Name " name="pname"  required/>
          <select id="cat" class = "select" name = "cat" type = "text"  required = "required">
            <option value = "" disabled selected>Select Category</option>
            <% categ.forEach(function(item) { %>
            <option > <%= item.cat_name %></option>
            <% }); %>  
          </select>
          <input type="text" value="" placeholder="Unit Price " name="price" required/>
          <input type="number" value="" placeholder="Stock Quanity" name="quant"  required/>
          <textarea placeholder="Product Description" name="description"  rows="10"></textarea>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
        </main>
        </div>