<link rel="stylesheet" type="text/css" href="/css/styla.css" />

<% include ./navy %>

<div class="s-layout">

        
        <!-- Content -->
        <main class="s-layout__content">

     
          
<div class="section-form">
  <% include ./partials/messages %>
                              
  <% if ( success_messages !='' ) { %>
    <div class="alert alert-success" >
        <strong><%= success_messages %> </strong>
    </div>
    <% } %>

        <form  action="/expenses" method="post">
          <div class="intro"> 
            <h1>Add Expenses</h1>
          </div>
          <input type="date" value="0" placeholder="Date" name="date" required/>
          <input type="number" value="0" placeholder="Shop Expenses" name="shop_exp" />
          <input type="number"value="0" placeholder="Product Transport" name="prod_transp"  />
          <input type="number" value="0" placeholder="School Fees" name="sch_fee" />
          <input type="number" value="0" placeholder="Contribution" name="contri" />
          <input type="number" value= "0" placeholder="Paybacks" name="cop" />
          <input type="number"value="0" placeholder="Household" name="hhold" />
          <input type="number" value="0" placeholder="Salary" name="sal" />
          <input type="number" value="0" placeholder="Others" name="others" />
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
        </main>
        </div>